<a href="https://colab.research.google.com/github/usang0320/pythonbasicclass2/blob/main/02HW20220223%EC%9D%B4%EC%9C%A0%EC%83%8102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [4]:
#52
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [6]:
#53
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [9]:
#54
movie_rank.pop(3)
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [21]:
#55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.pop()
movie_rank.pop()
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [15]:
#55-1
movies = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movies[-2:]
print(movies)

['닥터 스트레인지', '슈퍼맨']

In [20]:
#55-3
movies1 = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movies1.remove('스플릿')
movies1.remove('배트맨')
print(movies1)

['닥터 스트레인지', '슈퍼맨']

In [22]:
#56
lang1 = ['C', 'C++', 'JAVA']
lang2 = ['python', 'Go', 'C#']
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'python', 'Go', 'C#']

In [26]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
num1 = max(nums)
num2 = min(nums)
print(f'max: {num1}\nmin: {num2}')

max: 7
min: 1

In [27]:
#58
nums = [1, 2, 3, 4, 5]
total = sum(nums)
print(total)

15

In [28]:
#59
cook = ['피자', '김밤', '만두', '양념치킨', '족발', '피자', '김치만두', '쫄면', '쏘세지', '라면', '팥빙수', '김치전']
a = len(cook)
print(a)

12

In [29]:
#60
nums = [1, 2, 3, 4, 5]
total = sum(nums)
len = len(nums)
average = total/len
print(average)

3.0

In [34]:
#121
data = 'a'
# print(islower(data)) ------ 오류
print(data.upper())

A

In [36]:
#122
score = int(input('score: '))
if score >= 81:
    level = 'A'
elif score >= 61:
    level = 'B'
elif score >= 41:
    level = 'C'
elif score >= 21:
    level = 'D'
else:
    level = 'E'

print(f'grade is {level}')

score: 83
grade is A

In [44]:
#123
price = input('입력: ')

if price[-2:] == '달러':
    a = int(price[:-3])
    print(a*1167,'원')
elif price[-2:] == ' 엔':
    a = int(price[:-2])
    print(a*1.096,'원')
elif price[-2:] == '유로':
    a = int(price[:-3])
    print(a*1268,'원')
else:
    a = int(price[:-3])
    print(a*171,'원')

입력: 100 달러
116700 원

In [49]:
#124
n1 = int(input('input number1: '))
n2 = int(input('input number2: '))
n3 = int(input('input number3: '))

if n1 >= n2 and n1 >= n3:
    n = n1
elif n2 >= n3 and n2 >= n1:
    n = n2
else:
    n = n3
print(n)

input number1: 10
input number2: 9
input number3: 20
20

In [51]:
#125
num = input('>> 휴대전화 번호 입력: ')
l3 = num[:3]

if l3 == '011':
    t = 'SKT'
elif l3 == '016':
    t = 'KT'
elif l3 == '019':
    t = 'LGU'
else:
    t = '알수없음'

print(f'당신은 {t} 사용자입니다.')

>> 휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

In [52]:
#126
address = input('>> 우편번호: ')

if address[:3] in ['010', '011', '012']:
    a = '강북구'
elif address[:3] in ['013', '014', '015']:
    a = '도봉구'
else:
    a = '노원구'

print(a)

>> 우편번호: 01400
도봉구

In [54]:
#127
no = input('>> 주민등록번호: ')

if no[-7] in ['1', '3']:
    s = '남자'
else:
    s = '여자'

print(s)

>> 주민등록번호: 821010-1635210
남자

In [57]:
#128
no = input('>> 주민등록번호: ')

if int(no[-6:-4])-8 <= 0:
    a = '서울 입니다'
else:
    a =  '서울이 아닙니다'

print(a)

>> 주민등록번호: 821010-1635210
서울이 아닙니다

In [58]:
no = input('>> 주민등록번호: ')

if int(no[-6:-4])-8 <= 0:
    a = '서울 입니다'
else:
    a =  '서울이 아닙니다'

print(a)

>> 주민등록번호: 861010-1015210
서울 입니다

In [65]:
#129
id = input('>> 주민등록번호: ')

a = (int(id[0])*2 + int(id[1])*3 + int(id[2])*4 + int(id[3])*5 + int(id[4])*6 + int(id[5])*7 + int(id[7])*8 + int(id[8])*9 + int(id[9])*2 + int(id[10])*3 + int(id[11])*4 + int(id[12])*5)%11
if 11-a == int(id[-1]):
    print('유효한 주민등록번호입니다')
else:
    print('유효하지 않은 주민등록번호입니다')

>> 주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다

In [69]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

gap = int(btc['max_price'])-int(btc['min_price'])
if int(btc['opening_price'])-gap > int(btc['max_price']):
    print('상승장')
else:
    print('하락장')

하락장