<a href="https://colab.research.google.com/github/usang0320/pythonbasicclass2/blob/main/04HW20220228%EC%9D%B4%EC%9C%A0%EC%83%8102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 211

def 함수(문자열) : 
    print(문자열)

함수('안녕')
함수("hi")

# 안녕
# hi

안녕
hi

In [2]:
# 212

def 함수(a,b) : 
    print(a + b)

함수(3,4)
함수(7,8)

# 7
# 15

7
15

In [4]:
# 213

def 함수(문자열) : 
    print(문자열)

함수()  # 괄호안에 문자열이 없어서

a

In [6]:
# 214

def 함수(a,b) :
    print(a + b)

함수('안녕', 3)  # 같은 타입끼리 넣어줘야 '+' 가능

7

In [7]:
# 215

def print_with_smile(a):
    print(a + ':D')

print_with_smile('smile')

smile:D

In [8]:
# 216

print_with_smile('안녕하세요')

안녕하세요:D

In [ ]:
# 217

def print_upper_price(price):
    print(price*0.3)

In [9]:
# 218

def print_sum(a,b):
    print(a + b)

In [12]:
# 219

def print_arithmetic_operation(a, b):
    print(a + b)
    print(a - b)
    print(a * b)
    print(a / b)
print_arithmetic_operation(3,4)

7
-1
12
0.75

In [17]:
# 220

def print_max(a, b, c):
    if a >= b and a >= c:
        print(a)
    elif b >= a and b >= c:
        print(b)
    else:
        print(c)

print_max(2,4,5)

5

In [18]:
# 221

def print_reverse(str):
    print(str[::-1])

print_reverse('python')

nohtyp

In [19]:
# 222

def print_score(list):
    print(sum(list)/len(list))

print_score([1,2,3])

2.0

In [20]:
# 223

def print_even(li):
    for i in li:
        if i % 2 == 0:
            print(i)

print_even([1,3,2,10,12,11,15])

2
10
12

In [21]:
# 224

def print_keys(dic):
    print(dic.keys())

print_keys({'이름' : '김말똥', '나이': 30, '성별':0})

dict_keys(['이름', '나이', '성별'])

In [22]:
def print_keys(dic):
    for i in dic:
        print(i)

print_keys({'이름' : '김말똥', '나이': 30, '성별':0})

이름
나이
성별

In [23]:
# 225

my_dict = {'10/26':[100,130,100,100],
           '10/27':[10,12,10,11]}

def print_value_by_key(dic,key):
    print(dic[key])

print_value_by_key(my_dict,'10/26')

[100, 130, 100, 100]

In [25]:
# 226

def print_5xn(string):
    print(string[:5])
    print(string[5:10])
    print(string[10:15])

print_5xn('아이엠어보이유알어걸')

아이엠어보
이유알어걸

In [26]:
# 227

def print_mxn(string,n):
    print(string[:n])
    print(string[n:n*2])
    print(string[n*2:n*3])
    print(string[n*3:n*4])

print_mxn('아이엠어보이유알어걸',3)

아이엠
어보이
유알어
걸

In [43]:
# 228

def calc_monthly_salary(annual_salary):
    if annual_salary % 12 != 0:
        a = str(annual_salary/12)
        print(int(a.split('.')[0]))
    else:
        print(annual_salary/12)


calc_monthly_salary(359798)

29983

In [44]:
# 229

def my_print(a,b):
    print('왼쪽:', a)
    print('오른쪽:', b)

my_print(a=100, b=200)

# 왼쪽: 100
# 오른쪽: 200

왼쪽: 100
오른쪽: 200

In [45]:
# 230

def my_print(a,b):
    print('왼쪽:',a)
    print('오른쪽:',b)

my_print(b=100,a=200)

# 왼쪽: 200
# 오른쪽: 100

왼쪽: 200
오른쪽: 100