<a href="https://colab.research.google.com/github/usang0320/pythonbasicclass2/blob/main/note_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n = input('')
print(n)

20
20

In [3]:
n = input('정수를 입력하세요:')
print(n)

정수를 입력하세요:20
20

In [4]:
n = int(input('정수를 입력하세요 : '))
print(n)

정수를 입력하세요 : 20
20

In [5]:
type(n)

int

In [7]:
price = 50000
n = int(input('할부 개월 입력 >>> '))
print(f'매달 내는 돈은 {price/n}원 입니다')  # 정수/정수 일 때 왜 결과가 실수인지?

할부 개월 입력 >>> 5
매달 내는 돈은 10000.0원 입니다

In [10]:
type(n)

int

In [11]:
50000/5

10000.0

In [12]:
# 1
n1 = float(input('첫 번째 실수를 입력하세요>>> '))
n2 = float(input('두 번째 실수를 입력하세요>>> '))
print(f'{n1}와 {n2}의 합은 {n1+n2}입니다.')

첫 번째 실수를 입력하세요>>> 1.23
두 번째 실수를 입력하세요>>> 2.34
1.23와 2.34의 합은 3.57입니다.

In [14]:
# 2
month = int(input('1~12 사이의 월을 입력하세요>>> '))
if month in (1, 3, 5, 7, 8, 10, 12):
    day = 31
elif month == 2:
    day = 28
else:
    day = 30

print(f'{month}월은 {day}일 까지있습니다. ')

1~12 사이의 월을 입력하세요>>> 7
7월은 31일 까지있습니다.

In [15]:
# 2 다른방법
# 리스트 이용
month = int(input('1~12월 사이의 월을 입력하세요>>> '))
day = [31,28,31,30,31,30,31,31,30,31,30,31]
print(f'{month}월은 {day[month-1]}일 까지 있습니다.')

1~12월 사이의 월을 입력하세요>>> 8
8월은 31일 까지 있습니다.

In [17]:
# 3
english = {
    'flower': '꽃',
    'fly': '날다',
    'floor': '바닥'
}

a = input('영어 단어를 입력하세요>>> ')
print(f'{a}: {english[a]}')

영어 단어를 입력하세요>>> flower
flower: 꽃

In [20]:
# 4
a = input('희망하는 수학여행지를 입력하세요 >>> ')
b = input('희망하는 수학여행지를 입력하세요 >>> ')
c = input('희망하는 수학여행지를 입력하세요 >>> ')
d = {a,b,c}
print(f'조사된 수학여행지는 {d}입니다.')
print(f'조사된 수학여행지는 {{a,b,c}}입니다.')   #??????????

희망하는 수학여행지를 입력하세요 >>> 제주
희망하는 수학여행지를 입력하세요 >>> 제주
희망하는 수학여행지를 입력하세요 >>> 민속촌
조사된 수학여행지는 {'제주', '민속촌'}입니다.
조사된 수학여행지는 {a,b,c}입니다.

In [27]:
type(d)

set