<a href="https://colab.research.google.com/github/usang0320/pythonbasicclass2/blob/main/python_basic_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# input 을 통해 입력된 모든 데이터는 전부 문자로 받는다.
# 따라서 숫자로 입력을 받기 위해서는 casting 을 하여 숫자로 바꾼다.

In [2]:
# input() 함수를 사용할 때 주의할 점
# input()은 모든 입력을 str(문자열)로 저장한다는 점이다.
# 따라서 숫자로 입력해도 문자로 받아들인다.

n = input('정수를 입력하세요 >>>')
print(type(n))

정수를 입력하세요 >>>12
<class 'str'>

In [3]:
n = int(input('정수를 입력하세요 >>>')) # 형변환이 필요하다. casting
print(type(n))

정수를 입력하세요 >>>12
<class 'int'>

In [4]:
price =  50000
n = int(input('할부 개월 입력 >>> '))
print('매달 내는 돈은 {}입니다.'.format(price/n))

할부 개월 입력 >>> 10
매달 내는 돈은 5000.0입니다.

In [5]:
# 1
f1 = float(input('첫 번째 실수를 입력하세요 >>> '))
f2 = float(input('두 번째 실수를 입력하세요 >>> '))
print(f'{f1}와 {f2}의 합은 {f1+f2}입니다')

첫 번째 실수를 입력하세요 >>> 1.23
두 번째 실수를 입력하세요 >>> 2.34
1.23와 2.34의 합은 3.57입니다

In [7]:
# 2
m = int(input('1~12 사이의 월을 입력하세요 >>> '))
if m in [1,3,5,7,8,10,12]:
    d = 31
elif m == 2:
    d = 28
else:
    d = 30

print(f'{m}월은 {d}일까지 있습니다')

1~12 사이의 월을 입력하세요 >>> 2
2월은 28일까지 있습니다

In [8]:
month = int(input('1~12월 사이의 월을 입력하세요>>> '))
day = [31,28,31,30,31,30,31,31,30,31,30,31]
print(f'{month}월은 {day[month-1]}일 까지 있습니다.')

1~12월 사이의 월을 입력하세요>>> 3
3월은 31일 까지 있습니다.

In [9]:
# 3
english_dict = {
    'flower': '꽃',
    'fly': '날다',
    'floor': '바닥'
}

e = input('영어단어를 입력하세요 >>> ')
print(f'{e}:{english_dict[e]}')

영어단어를 입력하세요 >>> flower
flower:꽃

In [10]:
# % 나머지 연산자 아주 중요!!

In [14]:
# 복합 대입 연산자
a = 1
print(a)
# a = a + 1   # 자기 자신에 1을 증가
a += 1        # 자기 자신에 1을 증가
print(a)
a += 1
print(a)
a = a -1      # 자기 자신에 1을 감소
print(a)        
a -= 1        # 자기 자신에 1을 감소
print(a)

1
2
3
2
1

In [15]:
a, b = 10, 20
print('a = %d, b = %d' % (a, b))

a, b = b, a
print('a = %d, b = %d' % (a, b))

a = 10, b = 20
a = 20, b = 10

In [17]:
a, b = 10, 20
print(f'a = {a}, b = {b}')

a = 10, b = 20

In [18]:
# 시퀀스 연산자 : 순서가 있는 구조 시퀀스(리스트, 튜플, 문자열, range)에서 사용된다.

[1,3,5] + [2,4,6]

[1, 3, 5, 2, 4, 6]

In [20]:
'hello' + ' ' + 'python'

'hello python'

In [22]:
[1,3,5] * 2

[1, 3, 5, 1, 3, 5]

In [23]:
'-' * 20

'--------------------'

In [24]:
# 멤버십 연산자
5 in [1,2,3,4,5]

True

In [25]:
5 not in [1,2,3,4,5]

False

In [26]:
'a' in 'apple'

True

In [27]:
'a' in {'a': 'apple', 'b': 'banana'}

True

In [30]:
# 85p 1번

n = input('10~99 사이의 정수를 입력하세요 >>> ')
a = n[0]
b = n[1]
print(f'십의 자리: {a}\n일의 자리: {b}')

10~99 사이의 정수를 입력하세요 >>> 78
십의 자리: 7
일의 자리: 8

In [31]:
n = int(input('10~99 사이의 정수를 입력하세요 >>> '))
a = n//10
b = n%10
print(f'십의 자리: {a}\n일의 자리: {b}')

10~99 사이의 정수를 입력하세요 >>> 45
십의 자리: 4
일의 자리: 5

In [44]:
# 2
c = int(input('초를 입력하세요 >>> '))
hour = c//3600          #시
min = c%3600//60        #분
sec = c%3600%60         #초   (=c%60)
print(f'변환결과는 {hour}시간 {min}분 {sec}초 입니다.')

초를 입력하세요 >>> 3690
변환결과는 1시간 1분 30초 입니다.

In [37]:
# 1초 60초=1분  60분=1시간 3600초=1시간

In [45]:
# 3
num = input('4자리 사원번호를 입력하세요 >>> ')
if int(num[-1]) >=5:
    t = '오전'
else:
    t = '오후'
print(f'근무시간은 {t}입니다')

4자리 사원번호를 입력하세요 >>> 1255
근무시간은 오전입니다

In [46]:
num = int(input('4자리 사원번호를 입력하세요 >>> '))
no_1 = num % 10
if no_1 >= 5:
    print('근무시간은 오전입니다.')
else:
    print('근무시간은 오후입니다.')

4자리 사원번호를 입력하세요 >>> 6522
근무시간은 오후입니다.

In [49]:
# if 조건문
# 조건문은 특정한 조건을 만족하는지의 여부에 따라 실행되는 코드가 달라져야 할 때 사용

a = 5
if a > 0:
    print('양수')

양수