<a href="https://colab.research.google.com/github/usang0320/pythonbasicclass2/blob/main/python_basic_day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# for 반복문 , 주로 반복회수를 명확히 알고 있을 때 사용.

# for 변수 in 반복객체:
#     반복실행

for i in [1,2,3]:
    print(i)

1
2
3

In [3]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [4]:
for item in ['가위','바위','보']:
    print(item)

가위
바위
보

In [5]:
# 리스트 내포 : for 문을 이용해서 리스트를 간단히 생성한다.

[n*2 for n in [1,2,3]]

[2, 4, 6]

In [6]:
[n*2   for n in [1,2,3,4,5]  if n%2 == 1]

[2, 6, 10]

In [7]:
four_seasons = ('spring', 'summer', 'autumn', 'winter')
for season in four_seasons:
    print(season)

spring
summer
autumn
winter

In [9]:
# range() 
# 정수 범위를 만들어 낼 때 유요한 아주 많이 for문가 사용되는 함수

# range(start, stop, step)  # start(0부터), step(1씩증가) 은 생략가능

print(list(range(5))) #start 생략, step생략 0,1,2,3,4  0부터5미만
print(list(range(1,11))) #step만 생략  1부터 11미만
print(tuple(range(5)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0, 1, 2, 3, 4)

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
from typing import no_type_check_decorator
dan = int(input('출력할 구구단을 입력하세요 >>> '))
for n in range(1,10):
    print('{} X {} = {}'.format(dan, n, dan*n))

출력할 구구단을 입력하세요 >>> 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

In [14]:
for item in {'가위', '바위', '보'}:
    print(item)

보
가위
바위

In [17]:
person = {
    'name': '에밀리',
    'age': 20
}

for item in person:
     print(item, person[item])

name 에밀리
age 20

In [23]:
# 129
# 1번

for n in range(5,0,-1):
    print(n)

5
4
3
2
1

In [39]:
# 2번

n = int(input('임의의 양수를 입력하세요 >>> '))
sum = 0 # 초기값 설정
for i in range(1,n+1):
    sum += i
    print(sum)

print(f'1부터 {n}사이 모든 정수의 합계는 {sum}입니다.')

임의의 양수를 입력하세요 >>> 3
1
3
6
1부터 3사이 모든 정수의 합계는 6입니다.

In [42]:
# 3번

f = int(input('몇 개의 과일을 보관할까요? >>> '))
li = []
for i in range(f):
    a = input(f'{i+1}번째 과일을 입력하세요 >>> ')
    li.append(a)

print(f'입력받은 과일들은 {li}입니다.')

몇 개의 과일을 보관할까요? >>> 5
1번째 과일을 입력하세요 >>> 사과
2번째 과일을 입력하세요 >>> 바나나
3번째 과일을 입력하세요 >>> 체리
4번째 과일을 입력하세요 >>> 오렌지
5번째 과일을 입력하세요 >>> 망고
입력받은 과일들은 ['사과', '바나나', '체리', '오렌지', '망고']입니다.

In [46]:
# 4번

exam = [99, 78, 100, 91, 81, 85, 54, 100, 71, 50]
score = []
for i in exam:
    if i <= 95:
        score.append(i+5)
    elif i == 96:
        score.append(i+4)
    elif i == 97:
        score.append(i+3)
    elif i == 98:
        score.append(i+2)
    elif i == 99:
        score.append(i+1)
    else:
        score.append(i)
print(score)

[100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

In [47]:
# 쌤 풀이
exam = [99, 78, 100, 91, 81, 85, 54, 100, 71, 50]

exam2 = []
for i in exam:
    if i >= 95:
        exam2.append(100)
    else:
        exam2.append(i+5)
    
print(exam2)

[100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

In [48]:
# break

# while문 이나 for문 에서 반복을 강제로 종료시킬때 사용 

n = 1
while n <= 10:
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9
10

In [49]:
n = 1
while True:
    print(n)
    if n == 10:
        break
    n += 1

1
2
3
4
5
6
7
8
9
10

In [51]:
# continue

# 반복 도중 continue를 만나면 더이상 아래로 내려가지 않고
# 다시 반복문으로 진입한다.

total = 0
for a in range(1,101):
    if a % 3 == 0: # 3의 배수 찾기
     continue      # 3의 배수를 제외한 합
    total += a
print(total)

3367

In [54]:
# 141p
# 1번

money = 10000
while True:
    print(f'현재{money}원이 있습니다.')
    if money == 0:
        break
    waste = int(input('사용할 금액 입력 >>> '))
    if waste < 0:
        print('0 이하의 금액은 사용할 수 없습니다.')
    elif waste > money:
        print(f'{waste-money}원이 부족합니다.')
    else:
        money -= waste

현재10000원이 있습니다.
사용할 금액 입력 >>> 5000
현재5000원이 있습니다.
사용할 금액 입력 >>> -5000
0 이하의 금액은 사용할 수 없습니다.
현재5000원이 있습니다.
사용할 금액 입력 >>> 6000
1000원이 부족합니다.
현재5000원이 있습니다.
사용할 금액 입력 >>> 4000
현재1000원이 있습니다.
사용할 금액 입력 >>> 1000
현재0원이 있습니다.

In [63]:
# 2번

while True:
    data = int(input('이번 영화의 평점을 입력하세요 >>> '))
    if data in [1,2,3,4,5]:
        print(f"평점: {'★'*data}")
        break
    else:
        print('평점은 1~5 사이만 입력할 수 있습니다.')

이번 영화의 평점을 입력하세요 >>> 10
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요 >>> -2
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요 >>> 4
평점: ★★★★

In [64]:
# 3번
for i in range(5):
    pw = input('비밀번호를 입력하세요 >>> ')
    if pw == 'qwerty':
        print('비밀번호를 맞혔습니다.')
        break
    elif i == 4:
        print('비밀번호 입력 횟수를 초과했습니다.')

비밀번호를 입력하세요 >>> 123456
비밀번호를 입력하세요 >>> asdfgh
비밀번호를 입력하세요 >>> qwerty
비밀번호를 맞혔습니다.

In [65]:
for i in range(5):
    pw = input('비밀번호를 입력하세요 >>> ')
    if pw == 'qwerty':
        print('비밀번호를 맞혔습니다.')
        break
    elif i == 4:
        print('비밀번호 입력 횟수를 초과했습니다.')

비밀번호를 입력하세요 >>> 123456
비밀번호를 입력하세요 >>> asdfgh
비밀번호를 입력하세요 >>> zxcvbn
비밀번호를 입력하세요 >>> 098765
비밀번호를 입력하세요 >>> poiuyt
비밀번호 입력 횟수를 초과했습니다.

In [68]:
# 쌤 풀이

password = 'qwerty'
tryno = 0
while True:
    if tryno == 5:
        print('비밀번호 입력 횟수를 초과했습니다.')
        break
    inpass = input('비밀번호를 입력하세요 >>> ')
    if password == inpass:
        print('비밀번호를 맞혔습니다.')
        break
    tryno += 1

비밀번호를 입력하세요 >>> 1234566
비밀번호를 입력하세요 >>> 3344
비밀번호를 입력하세요 >>> ertt
비밀번호를 입력하세요 >>> dfgh
비밀번호를 입력하세요 >>> yghjj
비밀번호 입력 횟수를 초과했습니다.

In [80]:
# 4번

for n in range(2,10):
    if n % 2 == 0:
        continue
    for i in range(1,n+1):
        print(f'{n}x{i}={n*i}')
    print()

3x1=3
3x2=6
3x3=9

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [81]:
for n in range(2,10):
    if n % 2 == 0:
        continue
    for i in range(1,10):
        if n < i:
            break
        print(f'{n}x{i}={n*i}')
    print()

3x1=3
3x2=6
3x3=9

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [77]:
# 구구단
for a in range(2,10):
    for b in range(1,10):
        print(f'{a} x {b} = {a*b}')
    print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [78]:
# 홀수단 전체 출력
for q in range(2,10):
    if q % 2 == 0:
        continue
    for w in range(1,10):
        print(f'{q} x {w} = {q*w}')
    print()

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81