<a href="https://colab.research.google.com/github/usang0320/pythonbasicclass2/blob/main/python_basic_day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 클래스 class 객체 object
# c언어에는 클래스가 없다. <- 클래스가 필수는 아니다.

In [ ]:
result1 = 0

def add1(num):
    global result1 # 전역변수
    result1 += num
    return result1

result2 = 0
def add2(num):
    global result2 # 전역변수
    result2 += num
    return result2 

print(add1(3))
print(add1(4))

print(add2(2))
print(add2(5))

3
7
2
7

In [ ]:
print(add1(3))
print(add2(5))

10
12

In [ ]:
class Calculator:
    def __init__(self):     # __init__  생성자는 객체를 생성할 때 자동으로 호출
        self.result = 0
    def add(self, num):    # self 는 호출한 그 객체를 말한다.
        self.result +=num
        return self.result  # self 는 호출한 그 객체를 말한다.

cal1 = Calculator()         # cal1은 객체이름
cal2 = Calculator()         # cal2은 객체이름

In [ ]:
cal1.add(2)

10

In [ ]:
cal2.add(3)

3

In [ ]:
class FourCal:
    def setdata(self, first, second):  # self = a(객체의 이름), first = 4, second = 2
        self.first = first      # a.first = 4
        self.second = second    # a.second = 2

In [ ]:
a = FourCal()
b = FourCal()

In [ ]:
a.setdata(4,2)
b.setdata(3,5)

In [ ]:
print(a.first)
print(a.second)
print(b.first)
print(b.second)

4
2
3
5

In [ ]:
class FourCal:
    def setdata(self, first, second):  
        self.first = first      
        self.second = second    

    def add(self):
        result = self.first + self.second
        return result

In [ ]:
a = FourCal()
a.setdata(4,2)
print(a.first)
print(a.second)

4
2

In [ ]:
print(a.add())

6

In [ ]:
b = FourCal()
b.setdata(3,5)
print(b.first)
print(b.second)
print(b.add())

3
5
8

In [ ]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
        
    def setdata(self, first, second):  
        self.first = first      
        self.second = second    

    def add(self):
        result = self.first + self.second
        return result

    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result

    def div(self):
        result = self.first / self.second
        return result

In [ ]:
c = FourCal()
c.setdata(1,2)
print(c.add())
print(c.mul())
print(c.sub())

3
2
-1

In [ ]:
# 생성자   __init__   Constructor

In [ ]:
d = FourCal(1,2)
print(d.add())
print(d.mul())
print(d.div())

3
2
0.5

In [ ]:
# 상속  inheritance
# 어떤 클래스를 만들 때 다른 클래스의 기능을 물려받을 수 있는 기능
# 보통 상속의 기존 클래스를 변경하지 않고 기능을 추가하거나
# 기존 기능을 변경하려고 할 때 사용된다.

In [ ]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

In [ ]:
e = MoreFourCal(3,2)
print(e.pow())

9

In [ ]:
# 매서드 오버라이딩 mathod overriding(함수 덮어쓰기)

a = FourCal(4,0)  # 부모 클래스 인 FourCal로 a라는 객체를 생성했다.
a.div()         # 0으로 나누면 에러가 발생한다.

ZeroDivisionError: ignored

In [ ]:
class SafeFourCal(FourCal):
    def div (self):
        if self.second == 0:
            return 0
        else:
            return self.first / self.second 

f = SafeFourCal(4,0)
f.div()

0

In [ ]:
# 클래스 변수 

# 객체변수는 다른 객체들에 영향을 받지않고
# 독립적으로 그 값을 유지한다는 것이 중요하다.
# 클래스 변수는 객체 생성 없이도 사용할 수 있다.
# 실무에서는 클래스 변수 보다는 객체 변수를 사용하는 비율이 훠월씬 높다.

class Family:
    lastname = '김'  # 클래스 변수 선언

Family.lastname

'김'

In [ ]:
a = Family()
b = Family()
print(a.lastname)
print(b.lastname)

김
김

In [ ]:
Family.lastname = '박'

In [ ]:
print(a.lastname)
print(b.lastname)

박
박

In [ ]:
class Book():
    def set_info(self, title, author):
        self.title = title
        self.author = author
    def print_info(self):
        print(f'책 제목: {self.title}\n책 저자: {self.author}')
book1 = Book()
book2 = Book()
book_list = []
book_list.append(book1)
book_list.append(book2)

In [ ]:
book1.set_info('파이썬','민경태')
book2.set_info('어린왕자','생택쥐페리')
book1.print_info()
book2.print_info()

책 제목: 파이썬
책 저자: 민경태
책 제목: 어린왕자
책 저자: 생택쥐페리

In [ ]:
print(book_list)

[<__main__.Book object at 0x7f6dcb9d9bd0>, <__main__.Book object at 0x7f6dbd3a8710>]

In [ ]:
# 예외처리 Exception

a = int(input('제수를 입력하세요'))
b = int(input('피제수를 입력하세요'))

if b == 0:
    print('0으로 나누는 것은 불가능 합니다')
else:
    print(a/b)

제수를 입력하세요2
피제수를 입력하세요0
0으로 나누는 것은 불가능 합니다

In [ ]:
try:
    a = int(input('제수를 입력하세요'))
    b = int(input('피제수를 입력하세요'))
    print(a/b)
except:
    print('0으로 나누는 것은 불가능 합니다')

제수를 입력하세요2
피제수를 입력하세요0
0으로 나누는 것은 불가능 합니다

In [ ]:
try:
    a = int(input('제수를 입력하세요'))
    b = int(input('피제수를 입력하세요'))
    print(a/b)
except ZeroDivisionError:
    print('0으로 나누는 것은 불가능 합니다')
except ValueError:
    print('정수만 입력할 수 있습니다')
except Exception:
    print('알 수 없는 에러가 발생했습니다')

In [ ]:
a = [10,20,30,40,50]
try:
    a[10]
except IndexError:
    print('에러발생')

에러발생

In [ ]:
a = [10,20,30,40,50]
try:
    a[10]
except IndexError as e:
    print(e)

list index out of range

In [ ]:
try:
    a = int(input('제수를 입력하세요'))
    b = int(input('피제수를 입력하세요'))
    result = a/b
except ZeroDivisionError:
    print('0으로 나누는 것은 불가능 합니다')
except ValueError:
    print('정수만 입력할 수 있습니다')
except Exception:
    print('알 수 없는 에러가 발생했습니다')
else:     # 예외가 발생하지 않았을 경우
    print(result)
finally:  # 예외발생 여부와는 상관없이 항상 마지막에 접근
    print('프로그램을 종료합니다.')

In [ ]:
# 강제 예외 발생

try:
    raise Exception('강제 예외 발생')
except Exception as e:
    print('발생한 예외 메세지')
    print(e)

발생한 예외 메세지
강제 예외 발생

In [ ]:
# page 306

class Quiz:
    answer = ['경기도','강원도','충청남도','충청북도','전라남도','전라북도','경상남도','경상북도','제주특별자치도']
    def challenge():
        while len(Quiz.answer) == 0:
            data = input('정답은? >>> ')
            if data in Quiz.answer:
                print('정답입니다.')
                Quiz.answer.pop(data)
            else:
                print('틀렸습니다.')


try:
    print('우리나라의 9개 모든 도를 맞히는 퀴즈입니다. 하나씩 대답하세요.')
    Quiz.challenge()
except Exception as e:
    print(e)

우리나라의 9개 모든 도를 맞히는 퀴즈입니다. 하나씩 대답하세요.

In [25]:
# 2

import random

class UpDown:
    def __init__(self):
        self.answer = random.randint(1,100)
        self.count = 0

    def play(self):
        while True:
            try:
                n = self.challenge()
            except Exception as e:
                print(e)
            else:
                if n == self.answer:
                    print(f'{self.count}번만의 정답입니다.')
                    break
                elif n > self.answer:
                    print('Down!')
                else:
                    print('Up!')
                
             

    def challenge(self):
        self.count += 1
        n = int(input('입력(1~100) >>> '))
        if n < 1 or n >100:
            raise Exception('1~100사이만 입력하세요.')    
        return n
game = UpDown()
game.play()

입력(1~100) >>> 50
Down!
입력(1~100) >>> 25
Up!
입력(1~100) >>> 30
Up!
입력(1~100) >>> 40
Down!
입력(1~100) >>> 35
Up!
입력(1~100) >>> 38
Down!
입력(1~100) >>> 36
7번만의 정답입니다.