<a href="https://colab.research.google.com/github/usang0320/pythonbasicclass2/blob/main/python_basic_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list tuple dict set

# list   [] indexing/slicing    mutable(del, ins)  [1]
# tuple  () indexing/slicing    immutable          (1,)
# dict   {}     X (unordered)   mutable(del, ins)  {'key': 'value'}
# set    {}     X (unordered)   mutable(del, ins)  {1,2,3}

In [ ]:
# 1번
data = '31025'
grade = data[0]
class1 = data[1:3]
number = data[-2:]
print(grade,'학년',class1,'반',number,'번')
print(f'{grade} 학년 {class1} 반 {number} 번') # f 스트링   -------------- 메모에서 f 스트링 다시보기

3 학년 10 반 25 번
3 학년 10 반 25 번

In [ ]:
# 2번
car_number = '서울2가1234'
no4 = car_number[-4:]
print(car_number,'의 차량번호 4자리는',no4,'입니다.')
print(f'{car_number}의 차량번호 4자리는 {no4}입니다.')

서울2가1234 의 차량번호 4자리는 1234 입니다.
서울2가1234의 차량번호 4자리는 1234입니다.

In [ ]:
# 3번
s = 'maple'
middle = s[int(len(s)/2)]
print(s,'의 가운데 글자는', middle,'입니다.')
print(f'{s}의 가운데 글자는 {middle}입니다.')

maple 의 가운데 글자는 p 입니다.
maple의 가운데 글자는 p입니다.

In [ ]:
# 3번 정답
s = 'maple' # 가운데 p출력
center = s[len(s) // 2]    # // 나머지를 버리고 몫만 취한다
                           #  % 몫은 버리고 나머지만 취한다(홀/짝/배)

print(s,'의 가운데 글자는',center,'입니다.')
print(f'{s}의 가운데 글자는 {center}입니다.')

maple 의 가운데 글자는 p 입니다.
maple의 가운데 글자는 p입니다.

In [ ]:
# 4번
a = [10,20,30,40,50,60,70,80,90,100]
print(a[2:7][1])

b = a[2:7]
c = b[1]
print(f'3번째 요소부터 7번째 요소 = {b}\n3번째 요소부터 7번째 요소 중 2번째 요소 = {c}')

40
3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40

In [ ]:
# 5번
foods = {
    '금요일': '탕수육',
    '토요일': '유산슬',
    '일요일': '팔보채'
}
print('금요일 :', foods['금요일'])
print('토요일 :', foods['토요일'])
print('일요일 :', foods['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [ ]:
# \ 따옴표의 기능을 무력화시키고 글자로 표현
# \n 줄바꿈     line feed
# \t 탭         tab   일정 간격으로 띄어쓰기

print('hello \'world\'')     # \'가 쓰이면 작은따옴표의 기능 무력화. 글자 그대로의 작은 따옴표로 쓰임.
print("hello 'world'")

print("hello \"world\"")
print('hello "world"')

print('*\n**\n***')
print('hello\nworld')

print('이름\t연락처')
print('제시카\t01-123-4567')
print('마틴\t010-6789-1234')

hello 'world'
hello 'world'
hello "world"
hello "world"
*
**
***
hello
world
이름	연락처
제시카	01-123-4567
마틴	010-6789-1234

In [ ]:
# print() 함수

print('재미있는','파이썬')
print('재미있는','파이썬', sep = ',')  # 구분자
print('재미있는','파이썬', sep = '/')
print('재미있는','파이썬', sep = ':')

재미있는 파이썬
재미있는,파이썬
재미있는/파이썬
재미있는:파이썬

In [ ]:
print('영화 타이타닉')
print('평점', end = ' ')
print('5점')

영화 타이타닉
평점 5점

In [ ]:
# % 연산자

print('%d' % 10)       # %d 정수 10진수 자리표시자 decima
print('%o' % 10)       # %o 정수 8진수 자리표시자  octal
print('%x' % 10)       # %x 정수 16진수 자리표시자 hexa
print('%f' % 3.14)   

print('%s' % 'python')   # 모든 문자 s로 표현 가능 ( 정수, 실수, 문자열 등등)
print('%s' % 10)       
print('%s' % 10)       
print('%s' % 3.14) 

# %연산자 비추  # f스트링이 개꿀임

10
12
a
3.140000
python
10
10
3.14

In [ ]:
print('%d' % 1)
print('%5d' % 1)      # 다섯칸을 확보하고 오른쪽부터 출력
print('%5d' % 11)     # 다섯칸을 확보하고 오른쪽부터 출력

1
    1
   11

In [ ]:
print('%-5d' % 1)     # 다섯칸을 확보하고 왼쪽에 출력
print('%-5d' % 11)    # 다섯칸을 확보하고 왼쪽부터 출력

1
11

In [ ]:
print('%5.2f' % 3.14)  # 다섯칸을 확보하고 소수 2자리까지 오른쪽부터 출력
print('%5.1f' % 3.14)  # 다섯칸을 확보하고 소수 1자리까지 오른쪽부터 출력

 3.14
  3.1

In [ ]:
print('%-5.2f' % 3.14)  # 다섯칸을 확보하고 소수 2자리까지 왼쪽부터 출력
print('%-5.1f' % 3.14)  # 다섯칸을 확보하고 소수 1자리까지 왼쪽부터 출력

3.14
3.1

In [ ]:
print('%.2f' % 3.14)  # 소수 2자리까지 실수출력
print('%.1f' % 3.14)  # 소수 1자리까지 실수출력

3.14
3.1

In [ ]:
print('%s' % 3.14)  # 문자출력

3.14

In [ ]:
a = '학생'

# 기본 출력 방법
print(a, '입니다.')

 # f string 출력 방법    # f string 최고
print(f'{a} 입니다.')

 # % 연산자 츨력 방법
print('%s 입니다.' % a)

# format() 출력 방법
print('{} 입니다'.format(a))

학생 입니다.
학생 입니다.
학생 입니다.
학생 입니다

In [ ]:
# format() 메서드

print('My name is {}'.format('james'))

My name is james

In [91]:
print('My name is {0}'.format('james'))

My name is james

In [92]:
print('My name is {name}'.format(name='james'))

My name is james

In [93]:
print('My name is {}. I\'m {} years old'.format('james',20))

My name is james. I'm 20 years old

In [94]:
print('My name is {1}. I\'m {0} years old'.format('james',20))      #괄호안의 값을 순서 바꿀 수 있음

My name is 20. I'm james years old

In [96]:
print('My name is {name}. I\'m {age} years old.'.format(name='james', age=20))

My name is james. I'm 20 years old.

In [99]:
# f-strings

who =  'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [100]:
age = 25
print(f'내년엔 {age+1}살이 됩니다.')

내년엔 26살이 됩니다.

In [101]:
# 표준입력

a = input()
print(a)

asd
asd

In [103]:
n = input('정수를 입력하세요 : ')
print(n)

정수를 입력하세요 : 23
23

In [104]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print(f'입력된 이름은 {name}입니다')
print(f'입력된 나이는 {age}살입니다')

이름을 입력하세요>>>이유상
나이를 입력하세요>>>25
입력된 이름은 이유상입니다
입력된 나이는 25살입니다

In [105]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print('입력된 이름은 %s입니다.' % name)
print('입력된 나이는 %s입니다.' % age)

이름을 입력하세요>>>eusang
나이를 입력하세요>>>25
입력된 이름은 eusang입니다.
입력된 나이는 25입니다.

In [106]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print('입력된 이름은 ', name,'입니다', sep='')
print('입력된 나이는 ', age,'입니다', sep='')

이름을 입력하세요>>>이유상
나이를 입력하세요>>>25
입력된 이름은 이유상입니다
입력된 나이는 25입니다

In [108]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print('입력된 이름은 {}입니다'.format(name))
print('입력된 나이는 {}입니다'.format(age))

이름을 입력하세요>>>이유상
나이를 입력하세요>>>25
입력된 이름은 이유상입니다
입력된 나이는 25입니다