<a href="https://colab.research.google.com/github/usang0320/pythonbasicclass2/blob/main/review_note_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import math

def get_area(radius):
  """반지름을 입력받아 원의 넓이를 반환하는 get_area()함수"""
  area = math.pi * math.pow(radius,2)
  return area

radius = 1.5
# get_area() 힘수 호출 결과를 area 변수에 저장
area = get_area(radius)
print(area)   # area를 출력한다. 
print(get_area.__doc__)

7.0685834705770345
반지름을 입력받아 원의 넓이를 반환하는 get_area()함수

In [4]:
a = input('이름을 입력하세요>>>')
b = input('나이를 입력하세요>>>')
print(f'입력된 이름은 {a}입니다.')
print(f'입력된 나이는 {b}입니다.')

이름을 입력하세요>>>이유상
나이를 입력하세요>>>25
입력된 이름은 이유상입니다.
입력된 나이는 25입니다.

In [23]:
name = input('이름 : ')
age = input('나이 : ')
print(f'{age}세 이신 {name}님 반갑습니다!')

이름 : 장한나
나이 : 25
25세 이신 장한나님 반갑습니다!

In [7]:
tu = (1)
type(tu)
re = (1,)
type(re)

tuple

In [10]:
set = {1,2,3}
set.add(4)
print(set)

{1, 2, 3, 4}

In [17]:
data = '30807'
a = data[0]
b = data[1:3]
c = data[-2:]
print(f'{a}학년 {b}반 {c}번')
print(a,'학년',b,'반',c,'번')
print('%s학년 %s반 %s번' % (a, b, c))
print('{}학년 {}반 {}번'.format(a, b, c))

3학년 08반 07번
3 학년 08 반 07 번
3학년 08반 07번
3학년 08반 07번

In [21]:
print(451//3)

150

In [22]:
print('이름\t나이')
print('이유상\t25')
print('장한나\t25')

이름	나이
이유상	25
장한나	25

In [32]:
a = 10
b = 13
c = 15
name1 = 'james'
name2 = 'michael'
name3 = 'kobe'
print('{3}는 {0}살, {4}는 {1}살, {5}는 {2}살이다.'.format(a,b,c,name1,name2,name3))

james는 10살, michael는 13살, kobe는 15살이다.